/*GERAL*/
body
{
	background-color: #607d8b;
	font-family: "Times New Roman", Times, serif;

	width: 1583px;
}

h1
{
	position: relative;
	top: -10px;
	color: black;
	font-size: 150px;
}


/*div opacidade*/
#divOpacidade
{
	visibility: hidden;

	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0px;
	margin-top: 0px;

	background-color: black;

	opacity: 0.6;
}


/**/
/*ESQUERDA: label informacoes com personagens e do terreno*/
#informacoesPersTerreno
{
	position: absolute;
	color: white;
	font-size: 22px;

	top: 137px;
	left: 17px;
	width: 225px;

	word-wrap:  break-word;
}


/**/
/*CENTRO*/
#meuCanvas
{
	margin-left: 250px;
	/* background-image: url("../img/Tabuleiro Banco Imobiliário.png");
	background-repeat: no-repeat;
	background-position: center;*/
}


/*DADOS*/
#titleDado,
#titleDadoBot,
#dado
{
	visibility: hidden;
}

.centralize
{
	margin-left: auto;
    margin-right: auto;

    background-color: rgba(0,0,0);
}

#divTitleDado
{
	width: 1190px;
}

#divTitleDadoBot
{
	width: 900px;
}

#titleDado,
#titleDadoBot
{
	z-index: 101;
	position: absolute;
	font-size: 92px;
	color: white;
	top: 146px;
}

#titleDado
{
	background-color: #ff3d00;
}

#titleDadoBot
{
	background-color: #1E90FF; /*OU #00BFFF*/
}

#divDado
{
	width: 400px;
}

#dado
{
	z-index: 102;
	position: absolute;
	background-color: white;
	top: 300px;
	width: 400px;
	height: 370px;

	border: 15px solid black;

	text-align: center;
}

#lbDado
{
	position: absolute;
	top: 6px;
	left: 129px;
	font-size: 220px;
	color: black;
}



/**/
/*DIREITA: BUTTONS*/
#divDireita
{
	margin-left: 1372px;
	margin-top: -625px;
}

#btnPassarJogada,

#btnComprarTerreno,
#lbComprarCasinha,

#btnComprarCasinha,
#lbComprarCasinha,

#btnComprarFelicidade,
#lbComprarFelicidade
{
	position: relative;
	display: none;
	width: 177px;
}

#btnPassarJogada
{
	background-color: #1565c0;
}

#btnComprarTerreno
{
	padding: 11.5px 0; /*PARA CENTRALIZAR*/

	margin-top: +25px;
	background-color: #d50000;
	line-height: 1.3;
	height: 58px;
}

#lbDentroBtnComprarTerreno
{
	margin-top: 20px;
	background-color: black;
}

#btnComprarCasinha
{
	margin-top: 25px;
	font-size: 11px;
	background-color: black;
}

#lbComprarCasinha
{
	margin-top: +5px;
	margin-left: +4px;
}

#btnComprarFelicidade
{
	margin-top: +25px;
	background-color: #1b5e20;
}

#lbComprarFelicidade
{
	margin-top: +5px;
	margin-left: +4px;
}

.explicacao
{
	color: white;
	font-style: italic;
}



#lbInfoTodosPers
{
	position: absolute;
	color: white;
	font-size: 18px;

	margin-left: 1349px;
	width: 242px;
	top: 600px;
}
