/*GERAL*/
body
{
	background-color: #607d8b;
	font-family: "Times New Roman", Times, serif;

	width: 1583px;
}

#meuCanvas
{
	height: 620px;
	width: 100%;
	background-image: url("../img/Tabuleiro Banco Imobiliário.png");
	background-repeat: no-repeat;
	background-position: center;
}

h1
{
	font-size: 50px;
}



/*BUTTONS*/
#btnPassarJogada,
#btnComprarFelicidade,
#btnComprarCasa,
#lbComprarFelicidade
{
	position: absolute;
	visibility: hidden;
	width: 177px;
	left: 1372px;
}

#btnPassarJogada
{
	top: 172px;
	background-color: #1565c0;
}

#btnComprarFelicidade
{
	top: 258px;
	background-color: #1b5e20;
}

#lbComprarFelicidade
{
	top: 318.2px;
	color: white;
}

#btnComprarCasa
{
	top: 430px;
	background-color: #d50000;
}



/*OUTROS*/
#titleDado,
#dado
{
	visibility: hidden;
}

.centralize
{
	/*margin: auto; centralize*/
	margin-left: auto;
    margin-right: auto;

    background-color: rgba(0,0,0);
}

#divTitleDado
{
	width: 1190px;
}

#divDado
{
	width: 400px;
}

#titleDado
{
	position: absolute;
	font-size: 92px;
	color: white;
	background-color: #ff3d00;
	top: 160px;
}

#dado
{
	position: absolute;
	font-size: 200px;
	color: white;
	background-color: #ff3d00;
	top: 300px;
	width: 400px;
	height: 370px;

	text-align: center;
}