/*GERAL*/
body
{
	background-color: #607d8b;
	font-family: "Times New Roman", Times, serif;

	width: 1583px;
}

h1
{
	position: relative;
	top: -10px;
	color: black;
	font-size: 150px;
}


/*div opacidade*/
#divOpacidade
{
	visibility: hidden;

	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0px;
	margin-top: 0px;
	
	background-color: black;

	opacity: 0.6;
}


/**/
/*ESQUERDA: label informacoes com personagens e da casa*/
#informacoesPersCasa
{
	position: absolute;
	color: white;
	font-size: 25px;

	top: 137px;
	left: 17px;
	width: 225px;

	word-wrap:  break-word;
}


/**/
/*CENTRO*/
#meuCanvas
{
	margin-left: 250px;
	/* background-image: url("../img/Tabuleiro Banco Imobiliário.png");
	background-repeat: no-repeat;
	background-position: center;*/
}


/*DADOS*/
#titleDado,
#titleDadoBot,
#dado
{
	visibility: hidden;
}

.centralize
{
	margin-left: auto;
    margin-right: auto;

    background-color: rgba(0,0,0);
}

#divTitleDado
{
	width: 1190px;
}

#divTitleDadoBot
{
	width: 900px;
}

#titleDado,
#titleDadoBot
{
	z-index: 101;
	position: absolute;
	font-size: 92px;
	color: white;
	top: 146px;
}

#titleDado
{
	background-color: #ff3d00;
}

#titleDadoBot
{
	background-color: #1E90FF; /*OU #00BFFF*/
}

#divDado
{
	width: 400px;
}

#dado
{
	z-index: 102;
	position: absolute;
	background-color: white;
	top: 300px;
	width: 400px;
	height: 370px;

	border: 15px solid black;

	text-align: center;
}

#lbDado
{
	position: absolute;
	top: 6px;
	left: 129px;
	font-size: 220px;
	color: black;
}



/**/
/*DIREITA: BUTTONS*/
#divDireita
{
	margin-left: 1372px;
}

#btnPassarJogada,
#btnComprarFelicidade,
#btnComprarCasa,
#lbComprarFelicidade
{
	position: absolute;
	visibility: hidden;
	width: 177px;
}

#btnPassarJogada
{
	top: 145px;
	background-color: #1565c0;
}

#btnComprarCasa
{
	top: 225px;
	background-color: #d50000;
	line-height: 1;
	height: 58px;
}

#btnComprarFelicidade
{
	top: 309px;
	background-color: #1b5e20;
}

#lbComprarFelicidade
{
	top: 369.2px;
	color: white;
	margin-left: +4px;
}

#lbInfoTodosPers
{
	position: absolute;
	color: white;
	font-size: 15px;

	margin-left: -23px;
	width: 240px;
	top: 600px;
}